<div class="container text-center">
  <form class="form-signin">
    <img class="mb-4" src="assets/images/love.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Enter Password</h1>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" id="inputPassword" class="form-control my-2" placeholder="Password" required=""
      unmaskpasswordflag="1" autocompleteorg="null" autocomplete="off">
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2023-{{CurrentYear}}</p>
  </form>
</div>