<div class="container text-center">
  <form class="form-signin" (submit)="false">
    <img class="mb-4" src="assets/images/love.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal text-danger">Enter Master Password</h1>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" #passwordInput id="inputPassword" class="form-control my-2" placeholder="Password"
      required="true" unmaskpasswordflag="1" autocompleteorg="null" autocomplete="off">
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" (click)="signIn(passwordInput.value)">Go to Sign in</button>
    <p class="mt-5 mb-3 text-muted">© {{previousYear}}-{{currentYear}}</p>
  </form>
</div>
